services:
  redis:
    image: 'redis:7-alpine'
    ports:
      - '6379:6379'
    networks:
      - weather_network
    restart: always

  python-collector:
    build:
      context: ./collector
      dockerfile: Dockerfile
    environment:
      REDIS_HOST: redis 
      REDIS_PORT: 6379
      WEATHER_API_KEY: ${WEATHER_API_KEY} 
      CITY_NAME: 'Toritama'
    networks:
      - weather_network
    depends_on:
      - redis
    restart: always

  go-worker:
    build:
      context: ./worker-go
      dockerfile: Dockerfile
    env_file: 
      - .env
    environment:
      REDIS_HOST: redis
      REDIS_PORT: 6379
      NESTJS_API_URL: http://nestjs-api:4000/weather/logs
      AI_SERVICE_URL: http://ai-service:8000/api/v1/ingest
    networks:
      - weather_network
    depends_on:
      - redis
      - nestjs-api 
      - ai-service
    restart: always 
  
  mongodb:
    image: mongo:6
    ports:
      - "27017:27017"
    environment:
      MONGO_INITDB_DATABASE: weatherdb
    volumes:
      - mongo-data:/data/db
    networks:
      - weather_network
    restart: always

  nestjs-api:
    build:
      context: ./backend-nestjs
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    env_file:
    - .env
    environment:
      NODE_ENV: production
      MONGO_URI: mongodb://mongodb:27017/weatherdb
    networks:
      - weather_network
    depends_on:
      - mongodb
    restart: always
    

  ai-service:
    build:
      context: ./ai-service
      dockerfile: Dockerfile
    environment:
      GEMINI_API_KEY: ${GEMINI_API_KEY}
      GEMINI_MODEL: gemini-2.5-flash
    ports:
      - "8000:8000"
    networks:
      - weather_network
    restart: always



volumes:
  mongo-data:

networks:
  weather_network:
    driver: bridge