services:
  # ----------------------------------------------------------------------
  # 1. NestJS API (Serviço Web Público)
  # ----------------------------------------------------------------------
  - type: web
    name: api-desafio 
    runtime: docker
    plan: starter
    port: 4000 
    
    build:
      rootDir: backend-nestjs 
      dockerfilePath: backend-nestjs/Dockerfile
      pullRequest:
        autoDeploy: true
        
    env: production
    envVars:
      - key: MONGO_URI
        value: ${MONGO_DB_URL_ATLAS} 
      - key: NODE_ENV
        value: production
    
  # ----------------------------------------------------------------------
  # 2. Python Collector (Serviço de Background/Worker)
  # ----------------------------------------------------------------------
  - type: worker
    name: python-collector
    runtime: docker
    plan: starter
    
    build:
      rootDir: collector 
      dockerfilePath: collector/Dockerfile
      pullRequest:
        autoDeploy: true
        
    envVars:
      - key: REDIS_HOST
        value: red-d4ngtuadbo4c7391o7n0
      - key: REDIS_PORT
        value: 6379 
      - key: WEATHER_API_KEY
        value: ${WEATHER_API_KEY} 
      - key: CITY_NAME
        value: 'Toritama'
      
  # ----------------------------------------------------------------------
  # 3. Go Worker (Serviço de Background/Worker)
  # ----------------------------------------------------------------------
  - type: worker
    name: go-worker
    runtime: docker
    plan: starter

    build:
      rootDir: worker-go 
      dockerfilePath: worker-go/Dockerfile
      pullRequest:
        autoDeploy: true
        
    envVars:
      - key: REDIS_HOST
        value: red-d4ngtuadbo4c7391o7n0
      - key: REDIS_PORT
        value: 6379
      - key: NESTJS_API_URL
        value: http://api-desafio:4000/weather/logs
      - key: OUTRA_VAR_SECRETA
        value: ${OUTRA_VAR_SECRETA_VALUE}