services:
  # ----------------------------------------------------------------------
  # 1. NestJS API (Serviço Web Público)
  # ----------------------------------------------------------------------
  - type: web
    name: api-desafio
    env: docker
    plan: starter
    dockerfilePath: ./backend-nestjs/Dockerfile
    autoDeploy: true

    envVars:
      - key: MONGO_URI
        sync: false
      - key: NODE_ENV
        value: production

  # ----------------------------------------------------------------------
  # 2. Python Collector (Worker)
  # ----------------------------------------------------------------------
  - type: worker
    name: python-collector
    env: docker
    plan: starter
    dockerfilePath: ./collector/Dockerfile
    autoDeploy: true

    envVars:
      - key: REDIS_HOST
        value: red-d4ngtuadbo4c7391o7n0
      - key: REDIS_PORT
        value: "6379"
      - key: WEATHER_API_KEY
        sync: false
      - key: CITY_NAME
        value: "Toritama"

  # ----------------------------------------------------------------------
  # 3. Go Worker
  # ----------------------------------------------------------------------
  - type: worker
    name: go-worker
    env: docker
    plan: starter
    dockerfilePath: ./worker-go/Dockerfile
    autoDeploy: true

    envVars:
      - key: REDIS_HOST
        value: red-d4ngtuadbo4c7391o7n0
      - key: REDIS_PORT
        value: "6379"
      - key: NESTJS_API_URL
        value: https://api-desafio.onrender.com/weather/logs
      - key: OUTRA_VAR_SECRETA
        sync: false
